.container__cart {
  padding: 100px 50px;
  background-color: #000000;
}
.container__cart h1 {
  display: flex;
  align-items: center;
  color: #fff;
}
.container__cart h1 svg {
  color: #79d904;
}
.container__info_cart {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.img__cart {
  border-radius: 5px;
}
.img__cart img {
  width: 150px;
  border-radius: 5px;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin: 15px 0;
}
.img__cart p {
  display: flex;
  align-items: center;
  font-size: 14px;
}
table {
  width: 100%;
  height: 90%;
}
.table__header th {
  color: #676767;
}
.quantidade {
  display: flex;
  position: relative;
  top: 3px;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: row;
}
.quantidade button {
  display: flex;
  align-items: center;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 50%;
  font-size: 1rem;
  transition: all 0.5s ease;
}
.quantidade button:hover {
  background-color: #b5b5b5;
}
.quantidade p {
  padding: 3px 15px;
  font-size: 14px;
}
.container__info_resumo {
  display: flex;
  gap: 20px;
}
.item {
  width: 100%;
}
th {
  margin-top: 50px;
  text-transform: uppercase;
}
th p {
  font-size: 14px;
}

.info__mobile {
  display: contents;
}
.del {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.del svg {
  position: relative;
  top: 3px;
  color: rgb(202, 1, 1);
}
.not__items {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  gap: 20px;
}
.not__items h2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.not__items button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
.not__items button:hover {
  text-decoration: underline;
}
.resumo {
  width: 450px;
  background-color: #f0f0f0;
  color: #3d3d3d;

  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  height: 100%;
  padding: 20px;
}
.resumo__body {
  display: flex;
  justify-content: space-between;
}
.resumo__body p {
  font-weight: 500;
  color: #676767;
  margin-bottom: 10px;
}
.resumo__compra {
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
}
.total {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.resumo button {
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background-color: #79d904;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.resumo button:hover {
  transform: scale(1.1);
}
.gratis {
  color: #569d00 !important;
}
.total p {
  text-transform: uppercase;
  color: #000;
}

@media (max-width: 1200px) {
  .container__info_resumo {
    flex-direction: column;
    align-items: end;
  }
}
@media (max-width: 900px) {
  th p,
  .quantidade p,
  .quantidade button {
    font-size: 0.8rem;
  }
}
@media (max-width: 830px) {
  .container__cart {
    padding: 100px 20px;
  }
  thead {
    display: none;
  }
  th {
    margin-top: 0;
  }
  .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
  }
  .img__cart img {
    width: 250px;
  }
  .valor {
    display: none;
  }
  .info__mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .resumo {
    max-width: 300px;
  }
}
@media (max-width: 530px) {
  .img__cart img {
    width: 150px;
  }
}
@media (max-width: 480px) {
  .container__cart {
    padding: 100px 0;
  }
  .container__cart h1 {
    margin: 0 0 20px 20px;
    font-size: 1.5rem;
  }
  .container__info_cart {
    border-radius: 0;
    margin-bottom: 150px;
  }
  .not__items h2 {
    text-align: center;
    font-size: 1rem;
  }
  .resumo {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px -3px 10px 0px rgba(16, 16, 16, 0.533);
    height: auto;
    border-radius: 0;
  }
  .img__cart img {
    width: 100px;
  }
}
