* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
}
::-webkit-scrollbar {
  width: 15px;
  background-color: #000;
}
::-webkit-scrollbar-track {
  border-radius: 40px;
}
::-webkit-scrollbar-thumb {
  background-color: #79d904;
  border-radius: 40px;
}
